@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Audiowide&family=Fredoka:wght@600;700&family=Orbitron:wght@900&family=Raleway:ital,wght@1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  --black-gradient: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
  --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}


* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a{
  color: white;
  text-decoration: none;
}

.bg-blue-gradient {
  background: radial-gradient(ellipse farthest-corner at left,#071a35c0 70%,white ,transparent);

}
.sidebar {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}


